p {
	margin: 0 0 5px 0;
	line-height: 1.4em;
}


#comments {
	font-size: 14px;

	> li {
		width: 100%;
	}
}


.card-header {
	width: 100%;

	.subreddit {
		opacity: 1;
    margin: 2px 0;
    padding: 3px 2px 2px 2px;
		line-height: 1em;

		&:hover {
			color: inherit;
		}
	}

	.post-title {
		font-size: .9em;
		margin: 5px 0 0 0;
		display: inline-block;
	}

	.up {
		color: green;
		opacity: .8;
	}
	.link {
		opacity: .8;

		&:hover {
			opacity: 1;
		}
	}

	.date {
		color: #252144
	}
}
