@keyframes spin {
  0% { transform: rotate(0); }
  100% { transform: rotate(360deg); }
}

@keyframes wobble {
  0% { transform: rotate(20deg); }
  25% { transform: rotate(-20deg); }
  50% { transform: rotate(20deg); }
  75% { transform: rotate(-20deg); }
  100% { transform: rotate(0deg); }
}

@keyframes bounce {
  0% { transform: translate(0, 0); }
  25% { transform: translate(0, -.3em); }
  50% { transform: translate(0, .2em); }
  75% { transform: translate(0, -.1em); }
  100% { transform: translate(0, 0); }
}

.nav-item {
	margin: 0 5px;
	display: inline-block;
}

#navbar .fa {
  width: 20px;
  height: 20px;
  margin: 5px;
  opacity: .75;
  vertical-align: middle;
  border-width: 2.5px;
  border-style: solid;
	cursor: pointer;

	&.fa-reddit-alien,
  &.fa-arrow-up {
		border-color: #fff;
		padding-top: 1px;
		margin-right: 0;
	}

  &.fa-arrow-up {
    color: #893FD6;
  }
}

.colors {
  border-top-color: gold;
  border-right-color: red;
  border-bottom-color: blue;
  border-left-color: green;
  border-radius: 100%;
  margin-left: 6px;
}

.fa-reddit-alien:hover {
	animation: wobble 1s ease-out;
  transform-origin: 65% 50% 0;
}

.fa-arrow-up:hover {
  animation: bounce .5s ease-in;
}

.colors:hover {
  animation: spin 1s infinite linear;
	opacity: 1;
}

.colors:active {
  animation-play-state: paused;
}
