svg {
	overflow: visible !important;
	margin-bottom: 20px;

	.axis text {
	  font: 10px sans-serif;
	}
	.axis path,
	.axis line {
	  fill: none;
	  stroke: #000;
	  shape-rendering: crispEdges;
	}

	.x.axis text {
		transform-origin: right center;
		transform: rotate(330deg) translateX(-30px) translateY(5%);
	}
}

circle {
	cursor: pointer;
}


@media (max-width: 500px) {
	.x.axis .tick:nth-child(2n+1) {
		display: none;
	}
}
