svg {
	overflow: visible !important;

	.axis text {
	  font: 10px sans-serif;
	}
	.axis path,
	.axis line {
	  fill: none;
	  stroke: #000;
	  shape-rendering: crispEdges;
	}
}

circle {
	cursor: pointer;
}


@media (max-width: 500px) {
	.x.axis .tick:nth-child(2n+1) {
		display: none;
	}
}
