@mixin error-box($color) {
	background-color: rgba($color, .15);
	border-left: 7px solid $color;
}

body {
	font-family: sans-serif;
	font-size: 16px;
}
.container {
	max-width:600px;
	margin: 0 auto;
}
.respin {
	float: right;
}

footer {
	text-align: center;
	font-size: 12px;
	color: inherit;
	a {
		color: inherit;
		text-decoration: none;
	}
}
