menu, #comments {
	list-style: none;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
  justify-content: center;
	font-weight: 100;
}

.subreddit {
	display: inline-block;
	background-color: #ccc;
	color: #fff;
  border: 0;
	margin: 2px 4px 2px 2px;
	padding: 4px 6px 3px;
	border-radius: 1px;
  font-size: 16px;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
	opacity: .2;
}

.subreddit.active {
	opacity: 1;

	&:focus {
		outline: none;
	}
	&:hover {
		opacity: .5;
	}
	&.active {
		opacity: 1;
	}
}
