canvas {
	margin: 0 auto;
	dispaly: block;
}
ul { 
	list-style: none; 
	padding: 0 10px; 
}
li {
	display: inline-block;
	border-radius: 7px;
	background-color: #ccc;
	color: #fff;
	margin: 3px 7px;
	padding: 3px;
}