<html ng-app="UserSubs">
  <head>
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.22/angular.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
	<script src="js/chart/redditChart.js"></script>
  <script src="js/main/main-ctrl.js"></script>
	<script src="js/graph/graph-factory.js"></script>
	<script src="js/graph/graph-directive.js"></script>
	<script src="js/graph/scroll-service.js"></script>
	<script src="js/comments/comments-service.js"></script>
	<script src="js/comments/comment-directive.js"></script>
	<script src="js/subreddits/subreddit-directive.js"></script>
	<script src="js/subreddits/sub-filter.js"></script>
	<script src="js/error/error-directive.js"></script>
	<script src="js/error/controllers.js"></script>
  <script src="js/config.js"></script>
  </head>
<body ng-controller="CloudController as cloud">
	<div class="container">

		<p>www.reddit.com/u/<input type="text" ng-model="username">/ <button type="submit" ng-click="createChart(username)">Go</button>
		<button ng-click="color()" ng-show="data&&comments" class="respin">Shuffle Colors</button></p>

		<error ng-show="errorClass" error="errorClass" ng-class="{{'errorClass'}}"></error>

    <main ng-view  ng-show="comments&&!errorClass"></main>

	</div>
</body>
</html>
