<html ng-app="MyApp">
  <head>
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.22/angular.js"></script>
	<script src="randomColor.js"></script>
	<script src="Chart.js"></script>
	<script src="redditChart.js"></script>
	<script src="chartjs-directive.js"></script>
	<script src="controllers.js"></script>
  </head>
<body ng-controller="CloudController as cloud">
	<div class="container">
		<div ng-app="chartjs-directive">
		  <chart value="myChart"></chart>
		</div>
		<ul>
			<li ng-repeat="sub in subreddits" style="background-color:{{sub.pointColor}}">{{sub.label}} ()</li>
			<ul ng-repeat="sub in subreddits">
				<li></li>
			</ul>
		</ul>
	</div>
</body>
</html>