<html ng-app="MyApp">
  <head>
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.22/angular.js"></script>
	<script src="randomColor.js"></script>
	<script src="Chart.js"></script>
	<script src="redditChart.js"></script>
    <script>
angular.module('controllers',[])
.controller('CloudController', ['$scope','Comments','PrepData','DrawChart', function($scope, Comments, PrepData, DrawChart){
	Comments.get('bonerpalooza')
	.then(function(array) {
		//$scope.comments = array.data.data.children;
		return PrepData.parse(array.data.data.children);
	})
	.then(function(data) {
		var id = document.getElementById("chart").getContext("2d");
		var chart = new Chart(id).Line(DrawChart.make(data), { 
			bezierCurve:false,
			showTooltips:false
		}); 
		$scope.datasets = data.datasets;
	});
}]);
//http://stackoverflow.com/questions/13937318/convert-angular-http-get-function-to-a-service
		/* make big string
		array.data.data.children.reduce(function(prev, comment){
				return prev += comment.data.body;
			}, '');	*/
    </script>
  </head>
<body ng-controller="CloudController as cloud">
	<canvas id="chart" width="600" height="500"></canvas>
	<ul>
		<li ng-repeat="set in datasets" style="background-color:{{set.pointColor}}">{{set.label}} ()</li>
		<ul ng-repeat="set in datasets">
			<li></li>
		</ul>
	</ul>
</body>
</html>