  <graph data="comments"></graph>

  <menu>
    <button sub class="subreddit active" info="{label: 'all', total: comments.length}" ng-click="setSub('all');"></button>
    <button sub class="subreddit active {{sub.label}}" info="sub" ng-repeat="sub in data.datasets" ng-click="setSub(sub.label)"></button>
  </menu>

  <ul id="comments">
    <li comment class="card" id="comment{{comment.data.id}}" info="comment.data" ng-repeat="comment in comments | subChoice:chosenSub"></li>
  </ul>

  <footer>
    <p><a href="http://www.emilykarp.com"><i class="fa fa-home fa-lg"></i></a></p>
  </footer>
